:root {
    --main-font: Opensans, sans-serif;
    --title-font: CormorantUpright, serif;

    /* text colors */
    --primary-text-color: #AAAAAA;
    // --title-text-color: #DCCA87;
    // --text-color: #5B5858;
    --accent-color: #DCCA87;
    --white-color: #ffffff;



    /* background colors */
    --dark-bgc-hero: #272424;
    --light-bgc: #F5F4FA;
    --bgc-grey: #FBFBFB;
    --bgc-dark-footer: #2E2E2E;

    /* grib */
   

    /* animation */
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
}